.navContainer {
  font-size: 24px;
  background: rgba(255, 255, 255, 0.9);
}

.ulContainer {
  width: 100%;
  gap: 5px;
}

.navRight {
  margin-left: auto;

  @media screen and (max-width: 991px) {
    margin-left: 0;
  }
}

.mr {
  margin-left: auto;
}

/* export const PRIMARY_COLOR = '#ebd8ff';
export const SECONDARY_COLOR = '#5CD3A8'; */
